.footer {
    background-color: rgb(115, 108, 237);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 60px;
}