/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(159, 159, 237);
  color: whitesmoke !important;
  text-align: center;
  padding: 10px;
}

.btn-custom {
  background-color: #736CED !important;  /* Sets the button color */
  color: white !important;  /* Makes text color white */
  border: none;  /* Removes default borders */
}

/* Optional: Hover Effect */
.btn-custom:hover {
  background-color: #6257D6 !important; /* Darker shade on hover */
}